<div class="container">
  <h3 style="color: dodgerblue; font-weight:bolder;text-align:center"> Certificates</h3>
</div>
<div class='row' style='margin-left: 100px;margin-right: 100px;margin-top: 30px'>
  <div class='col-md-6'>
    <img [src]="'assets/certificate/brac.jpg'" width='100%' />
    <p style="width:100%;font-weight: bold;color: chocolate;text-align: center">B.Sc. certificate</p>
    <br/>
    <img [src]="'assets/certificate/kiosk.jpg'" width='100%' />
    <p style="width:100%;font-weight: bold;color: chocolate;text-align: center">Bangladesh Navy Interactive Kiosk Project Completion certificate</p>
  </div>
  <div class='col-md-6'>
    <img [src]="'assets/certificate/nasa.jpg'" width='100%'/>
    <br/>
    <br/>
    <p style="width:100%;font-weight: bold;color: chocolate;text-align: center"> Nasa Lunabotics project participation invitation </p>
  </div>
</div>
<div class='row' style='margin: 100px'>
  <div class='col-md-6'>
    <img [src]="'assets/certificate/language.jpg'" width='100%' />
    <p style="width:100%;font-weight: bold;color: chocolate;text-align: center">Language learning software project completion certificate </p>

    <img [src]="'assets/certificate/eprocure.jpg'" width='100%' />
    <p style="width:100%;font-weight: bold;color: chocolate;text-align: center">E-Procurement Software Successfull delivary certificate </p>

  </div>
  <div class='col-md-6'>
    <img [src]="'assets/certificate/training.jpg'" width='100%'/>
    <p style="width:100%;font-weight: bold;color: chocolate;text-align: center">Bangladesh Navy Certificate of excellence </p>
  </div>
</div>
<div class='row' style='margin: 100px'>
  <img [src]="'assets/certificate/event.jpg'" width='100%' />
  <p style="width:100%;font-weight: bold;color: chocolate;text-align: center">Bangladesh Navy training schedule design certificate </p>
</div>
