<section class="container">
  <div class="row">
    <mat-card class="col-md-7">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </mat-card> <!-- we use mat-card instead of div -->
    <mat-card class="col-md-5">
      <img src='../../../assets/Expertise.png' style="width: 100%;height:400px" />
    </mat-card>
    <mat-card class="col-md-6 d-block d-lg-none"></mat-card> <!-- will be hidden on large screens -->
    <mat-card class="col-md-6 d-block d-lg-none"></mat-card>
  </div>
  <div class="row">
    <mat-card class="col-md-7">
      <mat-card-subtitle style="text-align:justify;color: black">
        I am a <a style="color: tomato">coding and robotics</a> enthusiast. I am also a huge <a style="color:blueviolet">data structure</a> fan.
        I also love working with <a style="color: green">microcontroller and IOT devices</a>. My current job is to develope and front to end
        <a style="color: tomato">web application</a> with <a style="color: tomato">MEAN stack</a> and <a style="color:blue">.net core</a>. I also like to work with <a style="color: black">
          machine learning and big data</a>.
         I don't want to chain myself to work with a single platform. I tried to be an <a style="color: green">entrepreneur</a> but didn't
         succeed but i respect entrepreneurs a lot.
        Beside coding I am a huge <a style="color: blue">liverpool</a> fan. I also love cricket and love playing badminton.
      </mat-card-subtitle>
    </mat-card>
    <mat-card class="col-md-5">

      <a mat-button color='warn' style="" href="assets/Asif_CV.pdf">
        <mat-icon aria-hidden="false" aria-label="Example home icon">get_app</mat-icon><span>Resume</span>
      </a>
      <br/>
      <a mat-button color='primary' style="" href="https://findasifrahman.github.io/">
        <mat-icon aria-hidden="false" aria-label="Example home icon">web</mat-icon><span>website: https://findasifrahman.github.io/</span>
      </a>
      <br/>
      <a mat-button color='accent' style="" href="https://www.youtube.com/watch?v=mDlVe4CThlQ">
        <mat-icon aria-hidden="false" aria-label="Example home icon">subscriptions</mat-icon><span>youtube: https://www.youtube.com/watch?v=mDlVe4CThlQ</span>
      </a>
    </mat-card>
  </div>
</section>

